audio {
	display: none;
}
body {
	background: #feb93f url('init.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
button {
	outline: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
h1, button {
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
}
h1 {
	margin: 4em 1em 1em 1em;
	color: white;
	text-shadow: 0px 0px 10px #333;
}
